[user]
	name = Luiz Gavioli
	email = luizbag@gmail.com
	editor = emacsclient
[core]
	editor = emacsclient

[merge]
	tool = meld
	prompt = false
	keepBackup = false
	keepTemporaries = false
	trustExitCode = true

[mergetool "meld"]
	cmd = meld $LOCAL $MERGED $REMOTE --output=$MERGED

[diff]
	tool = meld
	prompt = false
	trustExitCode = true

[difftool "meld"]
	cmd = meld $LOCAL $REMOTE
