[user]
	name = Luiz Gavioli
	email = 428691+luizbag@users.noreply.github.com
	editor = emacsclient
[core]
	editor = emacsclient

[mergetool "meld"]
	cmd = meld $LOCAL $MERGED $REMOTE --output=$MERGED

[difftool "meld"]
	cmd = meld $LOCAL $REMOTE
	
[difftool "emerge"]
	cmd = emacs -nw -Q $LOCAL $REMOTE
	
[mergetool "emerge"]
	cmd = emacs -nw -Q $LOCAL $BASE $REMOTE $MERGED

[merge]
	tool = meld
	prompt = false
	keepBackup = false
	keepTemporaries = false
	trustExitCode = true
[diff]
	tool = meld
	prompt = false
	trustExitCode = true
[alias]
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
[init]
	defaultBranch = main
